<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620042531601-v8fgikebqltootaekhuvcmknvplomsds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620042531601-v8fgikebqltootaekhuvcmknvplomsds</string>
	<key>API_KEY</key>
	<string>AIzaSyAskoQaiNNp4xyDegPy0CbU1kn-PRLpM2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>620042531601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutternotify</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-de-8cf09</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-de-8cf09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620042531601:ios:ba9b6e7def2fa8df42d2b0</string>
</dict>
</plist>